


@media only screen and (min-width: 320px) and (max-width: 768px)
{
    input
    {
        height: 20px;
        width: 110px;
        border: 0.5px solid black;
    }

    .btn
    {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1100px)
{
    input
    {
        border: 0.5px solid black;
        margin-bottom: 10px;
    }
}