.blocoConteudo
{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.boxForm
{
    width: 100%;
    margin: 10px;
}


input
{
    width: 180px;
    height: 20px;
    margin: 1%;
}

.btn
{
    width: 70px;
    height: 20px;
}


.boxtabela
{
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}


tr, td
{
    width: auto;
    height: auto;
}
.boxNav
{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}






details
{
    width: 200px;
    height: 350px;
}

.retornoPedido
{ 
    width: 150% ;
    height: 190px ;
    overflow: auto;
}
form
{
    margin-bottom: 20px;
}

.formBloco
{
    width: 90%;
    height: auto;
}

.formBloco h3
{
    font-size: 14;
    font-style: italic;
    box-sizing: border-box;
}

.formBloco input
{
    margin: 20px;
}

.pedidoBox
{
    width: 100%;
    height: auto;
    display: flex;
}

.pedidoBloco
{
    width: 60%;
    height: auto;
}
.pedidoBloco td
{
    width: auto;
    
}
.pedidoFrame
{
    width: 60%;
    height: auto;
    margin-left: 40px;
}

.homeBloco
{
    width: 70%;
    height: auto;
    display: flex;
}

.homeRetorno
{
    width: 70%;
    height: auto;
    margin: 20px;
}

.btnform
{
    width: 50px;
    height: 20px;
}

.admBox
{
    width: 140%;
    height: 900px;
    display: flex;
}

.admNav
{
    width: 20%;
    height: 500px;
    text-align: left;
    margin-left: 5px;
}

.admConteudo
{
    width: 100%;
    height: 900px;
    text-align: left;
    font-size: 12px;
}

.navAdmBlock
{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

a
{
    color: black;
}