.background
{
    width: 100%;
    height: auto
}

.boxGeral
{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f4f4f2;
    
}

section
{
    width: 100%;
    height: auto;

}

.blocoConteudo
{

    width: 70%;
    height: auto;
}

.blocoNav
{

    width: 30%;
    height: auto;
}