.background
{
    width: 100%;
    height: auto;
}

.boxGeral
{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #e2e2e2;
}

section
{
    width: 100%;
    height: auto;
    display: flex;
}

.blocoConteudo
{

    width: 70%;
    height: auto;
}

.blocoNav
{

    width: 30%;
    height: auto;
}