.homeCadput
{
    width: 100%;
    height: 140px;
    display: flex;
    margin: 2%;
}

.homeCad
{
    margin-bottom: 20px;
    margin-left: 20px;

}

.homeCad input
{
    height: 20px;
    width: 100px;
    border-radius: 5px;
}

.homeCad .btn
{
    height: 20px;
    width: 65px;
    font-style: oblique;
    font-weight: 500;
}

a
{
    font-style: italic;
    font-size: 14px;
    cursor: pointer;
}

.resultadoPesquisa
{
    height: 40px;
    width: auto;
}

@media only screen and (min-width: 300px) and (max-width: 900px)
{

    .blocoHomeCad
    {
        width: 100%;
        height: auto;
        margin: 2%;
    }
    .homeCad
    {
        margin-bottom: 20px;
        margin-left: 20px;
    }
   

    .homeCadput
    {
        margin-bottom: 20px;
        margin-left: 20px;
        width: 100%;
        height: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
  
    .homeCadput .resultadoPesquisa
    {
        height: 50px;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .resultadoPesquisa span
    {
        display: inline-block;
    }
    .homeCad label
    {
        font-size: 14px;
        margin-left: 10px;
    }

    .homeCad input
    {
        height: 20px;
        width: 100px;
        border-radius: 5px;
    }

    .homeCad .btn
    {
        height: 20px;
        width: 65px;
        font-style: oblique;
        font-weight: 500;
    }

    .inputretorno
    {
        width: 60px;
        height: 20px;
    }
}
