.admConteudo
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.blocoinfo
{
    width: 20%;
    height: auto;
    margin: 2.5%;
}
p
{
    text-transform: uppercase;
}
span
{
    text-transform: initial;
    margin-bottom: 4px;
}
.blocoinfo p,span
{
    font-size: 12px;
}